* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.navbar{
  height:200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 36px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.home {
  font-family: 'Style Script', cursive;
  font-size: 110px;
  
}

.line {
  background-color: #f74f9e;
  border: 3px solid #f74f9e;
  width: 80px;
}

.items-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 26px 26px;
  background-color: white;
}

#item {
    display: flex;
    justify-content: space-between;
    border-bottom: 2px dotted #cecece;
    text-indent: 20px;
    height: auto; 
    padding: 10px;
    /*padding-top: 26px;
    background-color: white;
    border: 1px solid black;
    width: 500px;*/

}

.item-info{
  display: flex;
  justify-content: space-between;
  
}

.item-btns {
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;

}

.delete-btn{ /*DELETE BUTTON*/
  background-color: white;
  cursor: pointer;
  border: 0;
}

.checkbox {
  cursor: pointer;
  width:20px;
}

.line-through {
  text-decoration: line-through;
  color: lightgray;
}

.checked {
  text-decoration: line-through;
}

#new-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 26px 26px;
  background-color: white;
  border-radius: 9px;
}

.qty-container {
  padding-top: .5em;
  display: flex;
  justify-content: center;
}

.new-item-name {
  font-size: 40px;
  text-align: center;

}

.new-qty-label {
 font-size: 30px;
 font-weight: 100;
 padding-right: .2em;
}

.new-qty {
  width:50px;
  font-size: 20px;
  text-align: center;
}

.decrease {
  font-size: 25px;
}

.increase {
  font-size: 25px;
}

#add-btn{
  padding-top: .5em;
  display: flex;
  justify-content: center;
}

.add-btn {
  font-size: 25px;
  text-align: center;
}

.list-container{
  border-radius: 9px;
  border: 5px solid black;
  width: 1000px;
  margin:auto;
}

#item {
  width: 700px;
}

.title {
  width:590px;
  display: flex;
  align-content: flex-start;
}

.qty-title{
  font-size: 40px;
  font-weight: 100;
  padding-right: 60px;
  
}

.name-title{
  font-size: 40px;
  font-weight: 100;
}